<div class="menu-button">
  <button routerLink="/" type="button" class="btn btn-secondary position-absolute top-0 end-0">Voltar ao menu inicial</button>
</div>
<div class="main-content text-center">
  <h1>Escolha seu tipo de Cadastro</h1>

  <div>
    <button routerLink="/cadastro/pessoa-fisica" type="button" class="btn btn-primary">Pessoa Física</button>
    <button routerLink="/cadastro/pessoa-juridica" type="button" class="btn btn-info">Pessoa Jurídica</button>
  </div>

  <router-outlet></router-outlet>
</div>

