<div class="menu-button">
    <button routerLink="/" type="button" class="btn btn-secondary position-absolute top-0 end-0">Voltar ao menu inicial</button>
  </div>
  
  <div class="text-center">
      <form class="form-signin" #userResetPassword="ngForm" (ngSubmit)="ResetPassword(userResetPassword)">
          <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Digite seu email para resetar a senha</h1>
         
         
          <input type="email" id="inputEmail" name="email" #name="ngModel" [(ngModel)]="userService.userResetPassword.email" class="form-control" placeholder="Email" ngModel required autofocus="">
          <label for="inputEmail" class="sr-only">Email:</label>
          <br><br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
          
        </form>
  </div>
  
  