<div class="menu-button">
    <button routerLink="/" type="button" class="btn btn-secondary position-absolute top-0 end-0">Voltar ao menu inicial</button>
  </div>
  
  <div class="text-center">
      <form class="form-signin" #userNewPassword="ngForm" (ngSubmit)="NewPassword(userNewPassword)">
          <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Digite a nova senha desejada</h1>
         
          <input type="password" id="inputNewPassword" name="newPassword" #name="ngModel" [(ngModel)]="userService.userNewPassword.newPassword" class="form-control" placeholder="Nova Senha" ngModel required autofocus="">
          <label for="inputNewPassword" class="sr-only">Nova Senha</label>
          <br><br>

          <input type="password" id="inputConfirmPassword" name="confirmPassword" #name="ngModel" [(ngModel)]="userService.userNewPassword.confirmPassword" class="form-control" placeholder="Confirmar nova senha" ngModel required autofocus="">
          <label for="inputConfirmPassword" class="sr-only">Confirmar a Nova Senha</label>

          <br><br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
          
        </form>
  </div>
  
  
