nav {
    background-color: #82b3e1;
}

img {
    margin-bottom: 10px;
    height: 54px;
}

li a{
    text-decoration: none;
    color: #333;
}

a .sidenav-trigger i {
    text-transform: none;
}

.brand-logo {
    margin-left: 30px;
}

.btn {
    text-transform: none;
}