.fundo {
    height: 921px;
    background-size: cover;
    background-position: center;
}

/* Apply small(sm) devices and up to medium(md) devices (less than 992px) */
@media (max-width: 991.98px) {
    .fundo {
      width: auto;
      background-image: url('src/assets/background/download-xl.svg');
    }
  }
  
  /* Apply large(lg) devices and up to extra-large(xl) devices (992px and up) */
  @media (min-width: 992px) {
    .fundo {
      width: auto;
      background-image: url('src/assets/background/download-xl.svg');
    }
  }