<div class="menu-button">
  <button routerLink="/" type="button" class="btn btn-secondary position-absolute top-0 end-0">Voltar ao menu inicial</button>
</div>

<div class="text-center">
    <form class="form-signin" #userLoginForm="ngForm" (ngSubmit)="Login(userLoginForm)" >
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Faça seu login</h1>
        <label for="inputEmail" class="sr-only">Email:</label>
        <input type="email" id="inputEmail" name="email" #name="ngModel" [(ngModel)]="UserService.userDataLogin.email" class="form-control" placeholder="Email" ngModel required autofocus="">
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" name="password" #name="ngModel" [(ngModel)]="UserService.userDataLogin.password" class="form-control" placeholder="Senha" ngModel required>
      
        <a routerLink="/reset-password">Esqueci minha Senha</a> <br><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        
      </form>
</div>


