<div class="text-center">
    <form class="form-signin">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Faça seu cadastro de Pessoa Fisica</h1>
        
        <input type="text" id="inputName" class="form-control" placeholder="Nome" required autofocus="">
        <label for="inputName" class="sr-only">Nome:</label>

       
        <input type="number" id="inputCPF" class="form-control" placeholder="CPF" required autofocus="">
        <label for="inputCPF" class="sr-only">CPF:</label>

        
        <input type="text" id="inputAddress" class="form-control" placeholder="Endereço" required autofocus="">
        <label for="inputAddress" class="sr-only">Endereço:</label>

        
        <input type="text" id="inputCity" class="form-control" placeholder="Cidade" required autofocus="">
        <label for="inputCity" class="sr-only">Cidade:</label>


        
        <input type="text" id="inputState" class="form-control" placeholder="Estado" required autofocus="">
        <label for="inputState" class="sr-only">Estado:</label>


        
        <input type="tel" id="inputPhone" class="form-control" placeholder="Cidade" required autofocus="">
        <label for="inputPhone" class="sr-only">Telefone:</label>

       
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required>
        <label for="inputEmail" class="sr-only">Email:</label>

        
        <input type="email" id="inputPassword" class="form-control" placeholder="Senha" pattern=".{8,}" required>
        <label for="inputPassword" class="sr-only">Senha:</label>
        <br>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
      </form>
</div>
