/* You can add global styles to this file, and also import other style files */
@import './styles/materialize/css/materialize.min.css';

html, body { height: 100%; }

[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
    position:none !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}