<main class="fundo">

    <div class="container"> <!-- Page Content goes here -->

        <div class="section">   <!--Seção 1 - Cabeçalho-->
            <div>
                <div class="position-absolute top-0 end-0">
                    <button routerLink="/login" type="button" class="btn btn-primary">Login</button>
                    <button routerLink="/cadastro" type="button" class="btn btn-secondary">Cadastro</button>
                </div>
            </div>

        </div>

        <div class="section">   <!--Seção 2 - Caminho de botões-->
            <button routerLink="/residuos" type="button" class="btn btn-secondary">Resíduos</button>
        </div>

    </div>
    <!--Fechando o Container-->

</main>