
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.fundo {
  height: 1025px;
  /**width: auto;**/
  background-size: cover;
  background-image: url('src\assets\background\homepage.svg');
  background-position: center;
}

.fundo button{
  margin:10px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .fundo {
    width: auto;
    background-image: url('src\assets\background\homepage_large.svg');
  }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .fundo{
    width: auto;
    background-image: url('src\assets\background\homepage_mobile.svg');
  }

}