<main class="fundo">
    <div class="container"><!-- Page Content goes here -->
        <!--Seção 1 - Cabeçalho-->
        <div class="section">Seção 1</div>
        <!--Seção 2 - Caminho de botões-->
        <div class="section">
            <div class="row">
                <div class="btn-home">
                    <div class="col red s12 m4 l2">
                        <p>s12 m4</p>
                    </div>
                    <div class="col yellow accent-4 s12 m4 l8">
                        <p>s12 m4</p>
                    </div>
                    <div class="col blue s12 m4 l2">
                        <p>s12 m4</p>
                    </div>
                </div>
            </div>
        </div>

    </div><!--Fechando o Container-->
</main>