<main class="fundo">

    <div class="container"> <!-- Page Content goes here -->

        <div class="section">   <!--Seção 1 - Cabeçalho-->
            <div>
                <div class="position-absolute top-0 end-0">
                    <button routerLink="/login" type="button" class="btn btn-primary">Login</button>
                    <button routerLink="/cadastro" type="button" class="btn btn-secondary">Cadastro</button>
                </div>
            </div>

        </div>

        <div class="section">   <!--Seção 2 - Caminho de botões-->
            <button routerLink="/residuos" type="button" class="btn btn-secondary">Resíduos</button>
        </div>

    </div>
    <!--Fechando o Container-->

</main>

<footer class="page-footer grey lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="footer-text">Colaboração:</h5>
          <a href="https://www.ufpe.br"><img class="responsive-img" src="assets\logos\ufpe.png"></a>
          <img class="responsive-img" src="assets\logos\lab.png">
        </div>
        <div class="col l6 s12">
          <h5 class="footer-text">Em Parceria:</h5>
          <a href="http://www.cultura.pe.gov.br/"><img class="responsive-img funcultura" src="assets\logos\funcultura_cor.png"></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container footer-text">
        © 2021 Nutrientes Criativos
        <a class="footer-text text-lighten-4 right" href="#!">Mais links</a>
      </div>
    </div>
  </footer>